body {
    background-image: url(../img/background-lawn.png);
    background-size: cover;
    background-position: top;
}

/*

*/
#container {
    min-height: 100vh;
    position: relative;
}

#header {
    border: 3px solid red;
}

#userScore {}
#userTime {}

#gameBoard {
    height: 40vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}




.hole {
  position: relative;
  width: 160px;
  height: 60px;
  background: rgba(black, 0.8);
  border-radius: 50%;
  box-shadow:
    inset 0 10px 0 rgba(black, 0.2),
    inset 0 10px 30px rgba(black, 0.6);
//        &:nth-child(1) { // top left
//        transform: translate(40%, -130%);
//    }
//    
//    &:nth-child(2) { // left center
//        transform: translate(0%, 40%);
//    }
//    
//    &:nth-child(3) { // top right
//        transform: translate(20%, -40%);
//    }
//        
//    &:nth-child(4) { // right bottom
//        transform: translate(20%, 90%);
//    }
//    
//    &:nth-child(5) { // right middle
//        transform: translate(30%, -40%);
//    }
//    
//    &:nth-child(6) { // bottomr left
//        transform: translate(10%, 10%);
//    }
}

.mole-box {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 0 0 50% 50% / 15%;
}

.mole {
  position: absolute;
  cursor: pointer;
  left: -15%;
  bottom: -400px;
  width: 100%;
  height: 200px;
  border-radius: 1rem;
    
    background-image: url(../img/mole.png);
  background-size: cover;
}

.move {
    transition: all 200ms ease;
    animation: move 1200ms ease-in-out infinite;
}

.hit {
    transition: bottom 200ms ease;
    animation: hit 300ms ease-in-out forwards;
}


@keyframes move {
  0% {
    bottom: -400px; 
  }
  50% {
    bottom: 0px;
  }
  70% {
    bottom: 0px;
  }
  100% {
    bottom: -400px;
  }
}

@keyframes hit {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -400px;
  }
}