body {
    background-image: url(../img/background-lawn.png);
    background-size: cover;
    background-position: top;
}

/*

*/
#container {
    min-height: 100vh;
    position: relative;
}

#header {
    border: 3px solid red;
}

#userScore {}
#userTime {}

#gameBoard {
    height: 50vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    border: 3px solid blue;
}

.hole {
    height: 10vh;
    width: 15vw;
    border-radius: 50%;
    justify-content: space-around;
    border: 1px solid black;
}

.animate {
    background-color: cadetblue;
}